  <!-- ***** Subscribe Area Starts ***** -->
  <div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>Inscrivez-vous à notre newsletter et obtenez 30% de réduction</h2>
                    <span>Restez informé de nos dernières collections et offres spéciales.</span>
                </div>
                <form id="subscribe" action="#" method="get">
                    <div class="row">
                      <div class="col-lg-5">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Votre Nom" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-5">
                        <fieldset>
                          <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Votre Adresse Email" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-2">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                        </fieldset>
                      </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Adresse du magasin:<br><span>Agoè Assiyéyé, Lomé-Togo</span></li>
                            <li>Téléphone:<br><span>+228 92596583</span></li>
                            <li>Heures d'ouverture:<br><span>Lomé, Togo</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Horaires d'ouverture:<br><span>07:30 - 19:30 Tous les jours</span></li>
                            <li>Email:<br><span>maisonafiya&#64;gmail.com</span></li>
                            <li>Réseaux sociaux:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">TikTok</a>, <a href="#">WhatsApp</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->