    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="inner-content">
                      <h2>À Propos de Maison Afiya</h2>
                      <span>Votre destination pour des boubous traditionnels de qualité</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->

  <!-- ***** About Area Starts ***** -->
  <div class="about-us">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="left-image">
                      <img src="/assets/images/logo.png" alt="Boubous traditionnels">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="right-content">
                      <h4>Notre Histoire & Notre Expertise</h4>
                      <span>Découvrez l'art de la mode traditionnelle africaine à travers nos collections exclusives de boubous.</span>
                      <div class="quote">
                          <i class="fa fa-quote-left"></i><p>Chez Maison Afiya, nous perpétuons l'héritage culturel à travers des créations modernes et authentiques.</p>
                      </div>
                      <p>Fondée avec passion pour la mode africaine, Maison Afiya s'engage à offrir des boubous de haute qualité pour toute la famille. Notre collection reflète la richesse culturelle africaine tout en intégrant des éléments contemporains. Chaque pièce est soigneusement sélectionnée pour vous offrir le meilleur de la mode traditionnelle.</p>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                          <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ***** About Area Ends ***** -->
