  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="" class="logo">
                        <img src="assets/images/logo.png" height="70" width="70">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a routerLink="" class="active">Accueil</a></li>
                        <li class="scroll-to-section"><a routerLink="" class="">Hommes</a></li>
                        <li class="scroll-to-section"><a routerLink="" class="">Femmes</a></li>
                        <li class="scroll-to-section"><a routerLink="" class="">Enfants</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Pages</a>
                            <ul>
                                <li><a routerLink="">A propos</a></li>
                                <li><a routerLink="">Contactez-nous</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->